body {
  background: url("../images/mountain_background.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Poppins', sans-serif !important;
}

body p {
  font-size: 18px;
}

.fullHeight {
  height: 100vh;
}

.hidden-overflow {
  overflow: hidden;
}

.page-content {
  width: 80%;
  min-height: 400px;
  margin: 5px;
  padding:15px;

  background-color: white;
  background: url("../images/grey-pattern.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;

  transition: transform 1s;

  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
}

.user-input {
  height: 50px;
  max-width: 200px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  padding-left: 5px;
  margin: 10px;
}

.submit-button-style {
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.submit-button-style:hover {
  cursor: pointer;
}
