body {
  background: url("../images/mountain_background.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Poppins', sans-serif !important;
}

body p {
  font-size: 19px;
  text-shadow: 2px 0 5px rgba(0,0,0,0.6);
  word-spacing: 3px;
}

body h3, h1 {
  text-shadow: 3px 1px 5px rgba(0,0,0,0.6);
}

body label {
  margin: 0;
}

body form {
  margin: 20px 0;
}

.full-height {
  height: 100vh;
}

.section-title {
  font-size: 26px;
  margin-bottom: 15px;
  color: white;
  font-weight: 700;
}

.page-content {
  width: 80%;
  min-height: 400px;
  margin: 5px;
  padding: 30px 15px 15px 15px;

  background-color: white;
  background: url("../images/purple.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;

  transition: transform 1s;

  border-radius: 10px;
  box-shadow: 3px 3px 15px rgba(0,0,0,0.6);
}

.user-input {
  font-family: 'Poppins', sans-serif !important;
  height: 50px;
  max-width: 200px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  padding-left: 10px;
  margin: 10px;
}

.submit-button-style {
  font-family: 'Poppins', sans-serif !important;
  box-shadow: 2px 1px 5px rgba(0,0,0,0.5);
  margin: 5px;
}

.submit-button-style:hover {
  cursor: pointer;
}
