.hidden-window {
  opacity: 0;
}

.display-none {
  display: none !important;
}

.zero-opacity {
  opacity: 0 !important;
}

.direction-arrow {
  height: 70px;
  width: 70px;
  filter: drop-shadow(5px 5px 5px #222);
}

.arrow-transition {
  opacity: 0.9;
}

.arrow-transition:hover {
  opacity: 1;
  cursor: pointer;
}

/*.outer-position-right {
  position: absolute;
  right: -100%;
  transition: all 2s ease;
}

.inner-position {
  right: none !important;
}*/
